

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <title>
      mytera
    </title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="{{url_for('home')}}" class="logo m-0 float-start">STYLETHRIFT</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li><a href="{{url_for('home')}}">Mens</a></li>
              <li class="has-children active">
                <a href="{{url_for('properties')}}">Types</a>
                <ul class="dropdown">
                  <li><a href="#">T-shirt</a></li>
                  <li><a href="#">Shirt</a></li>
                  <li class="has-children">
                    <a href="#">Shoes</a>
                    <ul class="dropdown">
                      <li><a href="#">Air Jordan</a></li>
                      <li><a href="#">Nike</a></li>
                      <li><a href="#">Adidas</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="services.html">Womens</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div
      class="hero page-inner overlay"
      style="background-image: url('images/nike3.webp')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Types</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
                
                  
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-lg-6 text-center mx-auto">
            <h2 class="font-weight-bold text-primary heading">
              Featured Products
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="property-slider-wrap">
              <div class="property-slider">
                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s1.jpeg" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5232 , Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">INDORE</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          
                          <span class="caption">Nike</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s2.jpeg" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5233, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">UJJAIN</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                        
                          <span class="caption">Air Jordan</span>
                        </span>
                       
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s3.webp" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5234, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">DELHI</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                         
                          <span class="caption">Air 1</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s4.webp" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5235, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">KASHMIR</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                       
                          <span class="caption">Nike</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s5.webp" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5235, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">BANGLORE</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                         
                          <span class="caption">Nike Dupe</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s6.webp" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5236, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">PUNE</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                         
                          <span class="caption">Jordan</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s7.webp" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5236, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">GOA</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                         
                          <span class="caption">Adidas</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s8.webp" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5237, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">CHENNAI</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                         
                          <span class="caption">Adidas</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->

                <div class="property-item">
                  <a href="property-single.html" class="img">
                    <img src="images/s9.jpeg" alt="Image" class="img-fluid" />
                  </a>

                  <div class="property-content">
                    <div class="price mb-2"><span>1,291,000</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                        >5238, Ave. 21BC</span
                      >
                      <span class="city d-block mb-3">NEW YORK</span>

                      <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          
                          <span class="caption">Nike</span>
                        </span>
                        
                      </div>

                      <a
                        href="property-single.html"
                        class="btn btn-primary py-2 px-3"
                        >BUY NOW</a
                      >
                    </div>
                  </div>
                </div>
                <!-- .item -->
              </div>

              <div
                id="property-nav"
                class="controls"
                tabindex="0"
                aria-label="Carousel Navigation"
              >
                <span
                  class="prev"
                  data-controls="prev"
                  aria-controls="property"
                  tabindex="-1"
                  >Prev</span
                >
                <span
                  class="next"
                  data-controls="next"
                  aria-controls="property"
                  tabindex="-1"
                  >Next</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-properties">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/w1.webp" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5222, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">GWALIOR</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                    
                      <span class="caption">H&M</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/w2.jpeg" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5285, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">BHOPAL</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                    
                      <span class="caption">Zara</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/w3.jpeg" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5277, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">JAMMU</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                    
                      <span class="caption">VERSACE</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/w4.jpeg" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5226  Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">AGRA</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                     
                      <span class="caption">LOUIS VUITTON</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/s55.webp" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5232, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">FARIDABAD </span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                      
                      <span class="caption">Tommy Hilfiger</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW </a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/w6.jpeg" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5236, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">MUMBAI</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                      
                      <span class="caption">Peter England</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/m5.jpeg" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5242, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">HYDERABAD</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">

                      <span class="caption">Roadster</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/m3.jpg" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5245, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">CHENNAI</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                      
                      <span class="caption">Calvin Klein</span>
                    </span>
                    
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="property-item mb-30">
              <a href="property-single.html" class="img">
                <img src="images/m4.jpg" alt="Image" class="img-fluid" />
              </a>

              <div class="property-content">
                <div class="price mb-2"><span>1,291,000</span></div>
                <div>
                  <span class="d-block mb-2 text-black-50"
                    >5246, Ave. 21BC</span
                  >
                  <span class="city d-block mb-3">ASSAM</span>

                  <div class="specs d-flex mb-4">
                    <span class="d-block d-flex align-items-center me-3">
                      
                      <span class="caption">Polo Ralph Lauren</span>
                    </span>
                   
                  </div>

                  <a
                    href="property-single.html"
                    class="btn btn-primary py-2 px-3"
                    >BUY NOW</a
                  >
                </div>
              </div>
            </div>
            <!-- .item -->
          </div>
        </div>
        <div class="row align-items-center py-5">
          <div class="col-lg-3">Pagination (1 of 10)</div>
          <div class="col-lg-6 text-center">
            <div class="custom-pagination">
              <a href="#">1</a>
              <a href="#" class="active">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h3>Contact</h3>
              <address>56 Sector, Gwalior(MP) 474005</address>
              <ul class="list-unstyled links">
                <li><a href="tel://11234567890">+91 9981558029</a></li>
                <li><a href="tel://11234567890">+91 9522861395</a></li>
                <li>
                  <a href="mailto:info@mydomain.com">ayushsharma@gmail.com</a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Sources</h3>
              <ul class="list-unstyled float-start links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
              <ul class="list-unstyled float-start links">
                <li><a href="#">Partners</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Creative</a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Links</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Our Vision</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>

              <ul class="list-unstyled social">
                <li>
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-pinterest"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-dribbble"></span></a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
          <div class="col-12 text-center">
            <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            -->

            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . All Rights Reserved. 
              
            </p>
            <div>
              Distributed by
              <a /" target="_blank">themewagon</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <!-- <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    
    <h2>Recommended Items</h2>
    <ul>
        {% for recommendation in recommendations[:5] %}
            <li>{{ recommendation }}</li>
        {% endfor %}
    </ul>

  </body>
</html>
