<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Request Form</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
</head>
<body>
    <div class="container">
        <div class="content-section">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="navbar">
            <a href="{{url_for('home')}}">STYLE THRIFT</a>
            <a href="{{url_for('register')}}">RESET REQUEST</a>
        </div>
        <form action="" method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                    {{form.email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.email(class="form-control form-control-lg")}}
                {% endif %}
            </div>
           
            <div class="form-group">
                {{form.submit(class="button")}}
            </div>
            <div class="form-group">
                <small class="text-muted">
                    <a class="ml-2" href="{{ url_for('register') }}"> Want to Create An Account?</a>
                </small>
            </div>
        </form>
    </div>
</body>
</html>
